    body {
    background-color: #1c8ef8;
    font-family: sans-serif;

}
html {
    justify-content: center;
    display:  flex;
}
input.\31 {
    width: 222px;
    margin-inline: 49px;
}
input.\32 {
    width: 222px;
    margin-inline: 10px;
}
input.\33 {
    width: 222px;
    margin-inline: 57px;
}
input.\34 {
    width: 224px;
    margin-inline: 41px;
}
input.\35 {
    width: 224px;
    margin-inline: 52px;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}
.all{
    border: 7px solid #15b24c;
    font-size: 20px;
    margin-top: 33%;
    background: white;
    padding: 20px 27px 24px;
}
.from-submit {
    background: transparent;
    width: 100%;
    text-transform: uppercase;
    padding: 6px 10px;
}