
body{
    background: antiquewhite;
    justify-content: center;
    display:  flex;
}
.title {
    background: aquamarine;
    width: 32%;
    margin-bottom: -37%;
    border: 7px solid #15b24c;
    margin-top: 4%;
}
.from-submit {
    background: transparent;
    width: 100%;
    text-transform: uppercase;
    padding: 6px 10px;
}
.ti {
    width: 82%;
    margin-inline: -10%;
}
footer {
    border: 7px solid #15b24c;
    width: 25%;
    background: aliceblue;
}
h2 {
    margin-inline: 18%;
}
form.aaa {
    margin-inline: 32%;
}